<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Staatliches&display=swap"
        rel="stylesheet">
    <title>Pets</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/" class="home-title">Pets</a>
            </h1>
            <nav>
                {{#if loggedIn}}

                <a href="/" class="nav-title">Home</a>
                <a href="/pets" class="nav-title">create pets</a>
                <button id="logout" class="btn-no-style">Logout</button>
                <a href="/dashboard" class="nav-title">
                    <img src="{{image}}" width="30px" height="30px" class="profile-avatar">
                </a>
                {{else}}
                <a href="/login" class="nav-title">Login</a>
                <a href="/signup" class="nav-title">Register</a>
                <a href="/" class="nav-title">Home</a>
                {{/if}}
                <a href="/places" id="places" class="btn-no-style nav-title">Points of Interests</a>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <p>Thanks for visiting!</p>
            <p class="foot-note-2"> &copy;2022</p>
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>