<ol class="item-list">
    <h2>Your Pets!</h2>
    {{#each posts as |post|}}
    <li>
        <article class="item">
            <div class="item-section">
                <div class="item-content">
                    {{> pet-info post}}
                    <a href="/dashboard/edit/{{post.id}}">Edit</a>
                </div>
            </div>
        </article>
    </li>
    {{/each}}
</ol>