<ol class="item-list">
    <h2>{{username}} here are your Pets! </h2>
    <a href="/dashboard/edituser/{{user_id}}">Edit your profile {{user_id}}</a>
    {{#each posts as |post|}}
    <li>
        <article class="item">
            <div class="item-section">
                <div class="item-content">
                    {{> pet-info post}}
                    <a href="/dashboard/edit/{{post.id}}">Edit</a>
                </div>
            </div>
        </article>
    </li>
    {{/each}}
</ol>