<ol class="item-list">
    {{#each posts as |post|}}
    <li>
        <h2>Your Pets!</h2>
        <article class="item">
            <div class="item-section">
                {{> pet-info post}}
            </div>
        </article>
    </li>
    {{/each}}
</ol>