
<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
        <div>
        <label for="city-signup">City:</label>
        <input type="text" id="city-signup" />
    </div>
    <div>
        <label for="image-signup">Profile Picture: <span class="image-class"><br>( jpg-jpeg-png-gif )</span></label>
        <input type="file" id="image-signup" name="image"/>
    </div>
    <div>
        <button type="submit" class="update-btn">Edit</button>
        <button type="submit" class="delete-btn">Delete Profile</button>
    </div>
</form>

<script src="/javascript/update-user.js"></script>
<script src="/javascript/delete-user.js"></script>