<div>
    <form class="edit-post-form">
        <div >
            <label for="image-signup">Profile Picture: <span class="image-class"><br>(
                    jpg-jpeg-png-gif)</span></label>
            <input type="file" id="image-signup" name="image" />
        </div>

        <div>
            <label for="user-username">Username:</label>
            <input name="user-username" type="text" id="user-username" value="{{userData.username}}" />
        </div>

        <div>
            <label for="user-city">City:</label>
            <input name="user-city" type="text" id="user-city" value="{{userData.city}}" />
        </div>

        <button type="submit">Update</button>
        <button type="button" class="delete-btn">Delete Account</button>
    </form>
</div>

<script src="/javascript/update-user.js"></script>
<script src="/javascript/delete-user.js"></script>