<div>
    <form class="edit-post-form">
        <input type="file" id="image-signup" name="image" />

        <div style="display: flex; flex-direction: row">
            <label for="pet-name">Pet Name:</label>
            <input name="pet-name" type="text" id="pet-name" value="{{petCard.name}}" />
        </div>

        <div style="display: flex; flex-direction: row">
            <label for="pet-type">Pet Type:</label>
            <input name="pet-type" type="text" id="pet-type" value="{{petCard.pet_type}}" />
        </div>

        <div style="display: flex; flex-direction: row">
            <label for="pet-age">Pet Age:</label>
            <input name="pet-age" type="number" id="pet-age" value="{{petCard.age}}" />
        </div>

        <div style="display: flex; flex-direction: row">
            <label for="pet-gender">Pet Gender:</label>
            <select id="pet-gender" name="pet-gender">
                <option value="F">F</option>
                <option value="M">M</option>
            </select>
        </div>

        <button type="submit">Update</button>

        <button type="button" class="delete-pet-btn">Delete</button>
    </form>
</div>

<script src="/javascript/update-pets.js"></script>
<script src="/javascript/delete-pet.js"></script>