<ol class="">
    {{#each posts as |post|}}  
    <li>
       <article class="">
            <div class="">
                <div class="">
                    <h1>Email {{email}}</h1>
                    <span>Username <b>{{username}}</b> 
                </div>
            </div>
            <div>
                <h2>id {{id}}</h2>
            </div>
        </article>
    </li>
    {{/each}}
</ol>

    