<ol class="item-list">
    {{#each posts as |post|}}  
    <li>
       <article class="item">
            <div class="item-section">
                <div class="item-content">
                    <img src="{{image}}" width="100px" height="100px" class="profile-avatar">
                    <h1 class="item-title">Email {{email}}</h1>
                    <span>Username <b>{{username}}</b></span>
                    <h2>id {{id}}</h2>
                </div>
            </div>
        </article>
    </li>
    {{/each}}
</ol>

    