<form class="pet-form">
    <div>
        <label for="pet-name">Pet name:</label>
        <input type="text" id="pet-name" />
    </div>
    <div>
        <label for="pet-type">Pet type:</label>
        <input type="text" id="pet-type" />
    </div>
    <div>
        <label for="pet-age">Age:</label>
        <input type="text" id="pet-age" />
    </div>
    <div>
        <label for="pet-gender">Pet Gender:</label>
        <select id="pet-gender" name="pet-gender">
            <option value="F">F</option>
            <option value="M">M</option>
        </select>
    </div>
    {{!-- <div>
        <label for="pet-picture-url">Picture</label>
        <input type="text" id="pet-picture-url"/>
    </div> --}}
    <div>
        <label for="image-signup">Profile Picture: <span class="image-class"><br>( jpg-jpeg-png-gif )</span></label>
        <input type="file" id="image-signup" name="image"/>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>

<script src="/javascript/create-pet.js"></script>