<form class="pet-form">
    <div>
        <label for="pet-name">Pet name:</label>
        <input type="text" id="pet-name" />
    </div>
    <div>
        <label for="pet-type">pet_type:</label>
        <input type="text" id="pet-type" />
    </div>
    <div>
        <label for="pet-age">age:</label>
        <input type="text" id="pet-age" />
    </div>
    <div>
        <label for="pet-gender">Pet Gender:</label>
        <select id="pet-gender" name="pet-gender">
            <option value="F">F</option>
            <option value="M">M</option>
        </select>
    </div>
    <div>
        <label for="pet-picture-url">picture</label>
        <input type="text" id="pet-picture-url"/>
    </div>
    <div>
        <button type="submit">Signup</button>
    </div>
</form>

<script src="/javascript/create-pet.js"></script>