<h1>Places of interest for your pet!<i class="fa-solid fa-paw" style="color:rgb(36, 41, 46);"></i></h1>
<h3 class="mapdesc">Click a button to display locations</h3>

<div class="map-selector">
  <button type="submit" class="map-btns" id="store" style="color:rgb(36, 41, 46);">Pet Stores</button>
  <button type="submit" class="map-btns" id="park" style="color:rgb(36, 41, 46);">Dog Parks</button>
  <button type="submit" class="map-btns" id="veterinary_care" style="color:rgb(36, 41, 46);">Vet Clinics</button>
</div>

<!-- Google map -->
<div id="map-container">
  <div id="map"></div>
  <div id="sidebar">
    <h2>Results<i class="fa-solid fa-map-location" style="color:rgb(36, 41, 46);"></i></h2>
    <ul id="placesList"></ul>
    <button id="more">Load more results</button>
  </div>
</div>

<script type="module" src="/javascript/places.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC53rjSi9TjEJ7Re0Sy0i6tpwwDHF14qo&libraries=places&callback=initMap"
  defer></script>