
    <h1>PetMap!</h1>

<!-- Google map -->
<div id="container">
    <div id="map"></div>
    <div id="sidebar">
      <h2>Results</h2>
      <ul id="placesList"></ul>
      <button id="more">Load more results</button>
    </div>
  </div>
    
    <script type="module" src="/javascript/places.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC53rjSi9TjEJ7Re0Sy0i6tpwwDHF14qo&libraries=places&callback=initMap"
        defer
    ></script>